@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

@property --percentage1 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --percentage2 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}


section.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    padding: 10px 15px;
    box-sizing: border-box;
    position: fixed;
}

a {
    text-decoration: none;
    color: black;
}

section.header li {
    list-style: none;
    display: inline-block;
    margin: 0px 8px;    
    padding: 2px;
    font-size: 18px;
}

section.header li a:hover {
    color: #fff;
}

section.header ul {
    margin: 0px 15px;
}

section.header .logotipo {
    font-size: 30px;
}

body {
    background: linear-gradient(to left, #0b994e var(--percentage1),  #01120a var(--percentage2));
    margin: 0px;
    height: 100%;
}
html {
    height: 100%;
}